.about{
    padding: 120px 0px;
    background-color: $text-color;
    color:$bg-color;
}
.slika{
    box-shadow:0px 0px 20px 3px $bg-color ;
    object-fit: cover;
}
.fixedbg{
    background-image: url(../img/bgabout.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position:bottom ;
    filter:brightness(50%)
}
.About2{
    background-color: $text-color;
    .restaurant{
        img{
            box-shadow:0px 0px 20px 3px $bg-color ;
        }
    }
}
.About3{
    background-image: url(../img/snowflake.png);
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $text-color;
    .skiing{
        img{
            box-shadow:0px 0px 20px 3px $bg-color ;
            border-radius: 5%;
        }
    }
    .p-text{
        p{
            background-color: $text-color;
        }
    }
}