.Gallery{
    padding-top: 120px;
    background-color: $text-color;
    img{
        filter: grayscale(0.7);
        &:hover{
            filter: grayscale(0);
            transform: scale(1.04);
            box-shadow: 0px 0px 15px 0px;
            transition: 0.3s all;
            border-radius: 2%;
        }
        
    }
}
