header{
    position: absolute;
    z-index: 1;
    font-size: 20px;
    background-color: $bg-color;
    a{
        color:$text-color !important;
    }
}
.row{
    margin-left: 0;
}
nav{
    margin-right: 50px;
}
#logo{
    height: 100px;
    a{
        img{
            width:153px;  
        }
    }
    
}
.btn2{
    background-color: transparent;
    border: 2px solid $third-color;
    &:hover{
        background-color: $third-color;
        color:$text-color !important;
    }
    font-size: 18px;
}
.navbar-toggler{
    background-color: $text-color;
}
.dropdown-menu{
    background-color: $bg-color !important;
}
.dropdown-item{
    &:hover{
        color:$bg-color !important;
    }
}
.info-text{
    color:$text-color;
    position: absolute;
    top:400px;
    right: 0px;
    left: 0px;
    z-index: 2;
    width:70%;
    margin: 0px auto;
    h1{
        font-size: 40px;
    }
    h3{
        font-size: 24px;
    }
}

.height{
    height: 900px;   
}
.carousel-item{
    filter: brightness(70%);
    .position{
        height: 100vh;
        min-height: 900px;
        object-fit: cover;
    }
}

.carousel-control-next{
    height: 200px;
    right: 0px;
    top:400px
}
.carousel-control-prev{
    height: 200px;
    left: 0px;
    top:400px
}
